.backdropImage {
    display: none !important;
}

.backgroundContainer {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: url("Jellyfin Retro Basement Theme/images/wood-275854_1280.jpg") !important;
    background-size: cover !important;
}

